<div>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <input type="checkbox" name="" id="nav-cbox">
        <div class="navbar-header">
          <label for="nav-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </label>
          <a routerLink="/" class="navbar-brand">Customer Management System</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a routerLink="/customer" routerLinkActive="active">Customers</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/customer/add">Add New Customer</a></li>
          </ul>
        </div>
      </div>
    </nav>
 </header>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
